*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family:Nevan;
    src:url(Nevan.ttf);
}
.start{
  position:absolute;
  width:100vw;
  height: 100vh;
  display: flex;
 
  top:0;
  left:0;
  z-index: 1000;
}
.nostart {
  animation: fadeOut 0.5s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    pointer-events: auto;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}
.half,.half2{
  width:50vw;
  height:100vh;
  border-right:2px solid black;
   background-color:#b3dbf5;
}
.halfani {
  animation: slideLeft 1s forwards;
}

.halfani2 {
  animation: slideRight 1s forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
/* Button hides when animation starts */

.startgame{
position: absolute;
    top: 50vh;
    left: 46vw;
    width: 119px;
    height: 40px;
    font-family:Nevan;
    background-color: blue;
    color:aliceblue;
}
.App{
    width:100vw;
    height:100vh;
    font-family: Nevan;
    background-image:url(game-console-6603120.jpg) ;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s ease;
    
}
.App.visible {
  opacity: 1;
}

h1{
    color:#b3dbf5;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}
h2{
    color:#b3dbf5; 
    margin-bottom: 20px;
}
.head{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mainbox{
    display:flex;
    flex-direction: column;
     gap:10px;
}
.row{
    display:flex;
    gap:10px;

}
.c{
   height:11.5vh;
  width:6.5vw;
background-color: rgb(255, 255, 255);
  border-radius:8px;
    transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
   background-image: url(game-console-6603120.jpg);
}
.cflip{
    height:11.5vh;
  width:6.5vw;
 
background-color: rgb(255, 255, 255);
  border-radius:8px;
  transition: transform 0.6s ease-in-out;
   transform: rotateY(180deg);
  transform-style: preserve-3d;
  
}


@media screen and (max-width:769px){
 .c,.cflip {
    height: 11.5vh;
    width: 9.5vw;
  }
 
}


@media screen and (max-width:500px) {
  .c,.cflip{
    height: 10.5vh;
    width: 14.5vw;
  }
  
}
@media screen and (max-width:321px){
  .c,.cflip{
    height: 9.5vh;
    width: 16.5vw;
}
}





